<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
  
    <mapping class="com.javier.producto.modelo.TiendaProducto"/>
    <mapping class="com.javier.producto.modelo.EnvioProducto"/>
    <mapping class="com.javier.producto.modelo.TiendaCategoria"/>
    <mapping class="com.javier.producto.modelo.Envios"/>
    <mapping class="com.javier.producto.modelo.EnvioProductoId"/>
    <mapping class="com.javier.producto.modelo.Etiqueta"/>
  </session-factory>
</hibernate-configuration>
